fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
python-multipart
python-dotenv
loguru
numpy
opencv-python-headless
shapely
passlib[bcrypt]
requests
websockets
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
easyocr
psycopg2-binary
